<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Tweeter_Clone/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]
</IfModule>